:root {
    --dark-yellow-color: #EDBB57;
    --light-blue-color: #D0E4D0;
    --dark-brown-color: #505050;
    --white-color: #FFFFFF;
    --light-yellow-color: #F5D58A;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    max-width: 1606px;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    border-radius: 18px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
	text-decoration: none;
	position: relative;
}

.btn.dark{
    border: 3px solid var(--dark-brown-color);
    background: var(--dark-brown-color);
    color: #FFFFFF;
}

.btn.light{
    border: 3px solid var(--dark-brown-color);
    color: #505050;
}

/* Header */

header {
    background: var(--dark-yellow-color);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1606px;
    top: 36px;
    z-index: 100;
}

nav .logo {
    width: 213px;
    height: 88px;
    left: 163px;
    top: 36px;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

nav ul.center{
    gap: 30px;
}

nav ul.right{
    gap: 20px;
}

nav ul li a {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color: var(--dark-brown-color);
    text-decoration: none;
}

.hero-section {
    display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	vertical-align: 10px;
}

.hero-section .left{
	font-family: 'Calibri', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 671px;
	margin-bottom: 0px;
	color: var(--dark-brown-color);
}

.hero-section .left a{
	font-size: 20px;
	text-align: center;
}

.hero-section .left h1{
	font-size: 70px;
	line-height: 125%;
}

.hero-section .left p{
	width: 700px;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.achievements{
	display: flex;
	align-items: center;
	gap: 80px;
}

.achievements .achievement{
    color: var(--dark-brown-color);
	width: 158px;
}

.achievements .achievement h3{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin-bottom: 0px;
}

.achievements .achievement p{
	margin-top: 0px;
}

.hero-section .right{
	float: right;
}

.hero-section .right .hand-shake{
	width: 500px;
	mix-blend-mode: color-burn;
}

.hero-section .right .region{
    padding-top: 100px;
    padding-left: 60px;
	display: flex;
	gap: 80px;
}

.hero-section .right .region .country img{
	width: 70px;
	height: 70px;
}

/* second page */

.wrapper.second-page {
}

section{
    margin-top: 100px;
}

section.top-offers .top-offers-header{
    color: var(--dark-brown-color);
    align-items: center;
    gap: 900px;
    display: inline-flex;
}

h2, h3, p{
	font-family: 'Calibri', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-weight: bold;
    font-size: 50px;
    white-space: nowrap;
}

h3{
    font-size: 20px;
    letter-spacing: -0.015em;
}

h3.light, h2.light, p.light{
    color: rgba(80, 80, 80, 0.56);
}

h2.dark, h3.dark, p.dark{
    color: var(--dark-brown-color)
}

.top-offers .percent-section{
    justify-content: space-between;
    text-align: center;
    top: 36px;
}

.top-offers .percent-section ul li{
    display: inline;
}

.top-offers .top-offers-cards-section{
    text-align: center;
	width: 100%;
    padding-top: 36px;
}

.top-offers .top-offers-cards-section .row{
    display: inline-flex;
}

.top-offers-card{
    box-sizing: border-box;
    border: 3px solid var(--dark-brown-color);
    border-radius: 26px;
    box-shadow: var(--dark-brown-color);
    padding: 16px;
}

.top-offers .top-offers-cards-section .column{
    width: 30%;
    float: left;
    width: 400px;
    margin: 20px 20px;
}

.top-offers-card .logo-persons{
    display: flex;
    justify-content: center;
	gap: 180px;
}

.top-offers-card .logo-persons .left{
    margin-left: 0;
}

.top-offers-card .logo-persons .top-offers-card-logo{
    mix-blend-mode: darken;
}

.top-offers-card .logo-persons .top-offers-card-logo img{
    height: 20px;
}

.top-offers-card .logo-persons .top-offers-card-persons{
    justify-content: end;
}

.top-offers-card .logo-persons .top-offers-card-persons img{
    width:20px;
	height: 20px;
}

.top-offers-card .content{
    text-align: left;
}

.top-offers-card .botton-price{
    display: flex;
    justify-content: center;
	gap: 150px;
}

.top-offers .new-course{
	top: 0px;
	display: flex;
    justify-content: center;
	padding-top: 36px;
}

section.more-courses-section{
    padding-top: 60px;
    background-color: var(--light-blue-color);
}

.more-courses .course-carousel{
	display: flex;
	justify-content: center;
}

.more-courses .top-slides .course-carousel .carousel-card{
	display: float;
    border-radius: 26px;
    padding: 16px;
	width: 20%;
	text-align: center;
	position: relative;
}

.more-courses .top-slides .course-carousel .button{
	padding-top: 70px;
}

.more-courses .top-slides .course-carousel .carousel-card img{
    width: 60px !important;
	top: -15px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
}

.more-courses .top-slides .course-carousel .carousel-card .card-content{
    border: 3px solid var(--dark-brown-color);
    border-radius: 26px;
    box-shadow: var(--dark-brown-color);
    padding: 16px;
}

.more-courses .top-slides .dots{
	text-align: center;
}

.more-courses .row .column .course-card{
    text-align: center;
    background-color: var(--white-color);
    padding: 16px;
    box-sizing: border-box;
}

.more-courses .row .column .course-card img{
    width: 100%;
}

.more-courses .row .column .course-card .content{
        text-align: left;
}

.more-courses .row .column .course-card .content h3{
    display: flex;
    
}

.more-courses .row{
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-flex;
    gap: 40px;
}

.more-courses .row .column{
    text-align: center;
    background-color: var(--white-color);
    float: left;
    width: 300px;
    margin: 20px 20px;
}

.more-courses .row .column .course-card .bottom-price{
    display: flex;
    vertical-align: left;
	gap: 50px;
}

footer{
    margin-top: 10px;
    padding-bottom: 30px;
    background-color: var(--dark-brown-color);
    color: var(--white-color);
    font-family: 'Calibri', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer a{
    text-decoration: none;
    color: var(--white-color);
}

.community .social img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.footer-section ul{
    list-style-type: none;
    padding-left: 20px;
}

.footer-section{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}

.footer-section ul li{
    margin: 16px 0;
}

  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px){
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
