:root {
    --dark-yellow-color: #EDBB57;
    --light_blue-color: #D0E4D0;
    --dark-brown-color: #505050;
    --white-color: #FFFFFF;
    --light-yellow-color: #F5D58A;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    max-width: 1606px;
    margin: 0 auto;
}
.btn {
    padding: 15px 30px;
    border-radius: 18px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
	text-decoration: none;
	position: relative;
}

.btn.dark{
    border: 3px solid var(--dark-brown-color);
    background: var(--dark-brown-color);
    color: #FFFFFF;
}

.btn.light{
    border: 3px solid var(--dark-brown-color);
    color: #505050;
}

/* Header */

header {
    background: var(--dark-yellow-color);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1606px;
    top: 36px;
    z-index: 100;
}

nav .logo {
    width: 213px;
    height: 88px;
    left: 163px;
    top: 36px;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

nav ul.center{
    gap: 30px;
}

nav ul.right{
    gap: 20px;
}

nav ul li a {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color: var(--dark-brown-color);
    text-decoration: none;
}

.hero-section {
    display: flex;
	height: 100vh;
	width: 100%
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
	vertical-align: 10px;
}

.hero-section .left{
	font-family: 'Calibri', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 671px;
	margin-bottom: 0px;
	color: var(--dark-brown-color);
}

.hero-section .right img{
	width: 500px;
	mix-blend-mode: color-burn;
	vertical-align: middle;
}

.hero-section .left a{
	font-size: 20px;
	text-align: center;
}

.hero-section .left h1{
	font-size: 70px;
	line-height: 125%;
}

.hero-section .left p{
	width: 700px;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
}

.achievements{
	display: flex;
	align-items: center;
	gap: 80px;
}

.achievements .achievement{
    color: var(--dark-brown-color);
	width: 158px;
}

.achievements .achievement h3{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}